<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hbnx.book.manager.mapper.BorrowMapper">

    <resultMap id="BaseResultMap" type="com.hbnx.book.manager.entity.Borrow">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="bookId" column="book_id" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="endTime" column="end_time" jdbcType="TIMESTAMP"/>
            <result property="ret" column="ret" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,book_id,create_time,
        update_time,user_id,end_time,
        ret
    </sql>
</mapper>
